h1 {
	text-align: center;
	font-size: 40px
	}

h2{
	text-align:center;
}


.rotate90{
	-webkit-transform:rotate(90deg);
  	-moz-transform: rotate(90deg);
 	-ms-transform: rotate(90deg);
 	-o-transform: rotate(90deg);
  	transform: rotate(90deg);
  	vertical-align: text-bottom;
}

.center{
	margin:auto;
	width:40%;
	padding:10px;
	float:center;
	display:inline-block;
}

.contact{
	margin:auto;
	width:20%;
	padding:15px;
	float:right;
}

body{
	background-color: #e6e6ff;
}
